.DS_Store
Resources
build.log
build
npm-debug.log
tmp
.map
.project
.settings
.metadata
Thumbs.dbtiapp.xml
demoLND.txt
demoLNDConnect.txt
app/lib/node_modules
app/lib/package-json.lock
package-json.lock
Lndmobile.framework
GoogleService-Info.plist
google-services.json
rpcFiles/
dist/
data/
block_headers.bin
neutrino.db
.vscode
keystore
.gradle
.classpath
node_modules
/platform/
/i18n/
bin/
lnGRPCWrapper.framework/
lnGRPCWrapper
platform/ios/lnGRPCWrapper.framework/lnGRPCWrapper
platform/*
i18n/*
.gradle
go.pkg
build.gradle
/app/platform/ios/
appium_log.txt
build_errors.log
sdk-tools-linux-4333796.zip
appium_log.txt
build_errors.log
